<h1>All Astronauts</h1>
<h2>Average Astronaut Age: <%= @average_ages %></h2>

<% @astronauts.each do |astronaut| %>
  <h3>Name: <%= astronaut.name %> </h3>
  <ul>
    <li>Age: <%= astronaut.age %></li>
    <li>Post: <%= astronaut.job %></li>
  </ul>
<% end %>
